.font_0 {
font: normal normal normal 32px/1.25em brandon-grot-w01-light, sans-serif;
color: #070D1A;
}
.font_1 {
font: normal normal normal 14px/1.43em 'Open Sans', sans-serif;
color: #070D1A;
}
.font_2 {
font: normal normal normal 40px/1.25em brandon-grot-w01-light, sans-serif;
color: #070D1A;
}
.font_3 {
font: normal normal normal 88px/1.14em brandon-grot-w01-light, sans-serif;
color: #070D1A;
}
.font_4 {
font: normal normal normal 72px/1.18em brandon-grot-w01-light, sans-serif;
color: #070D1A;
}
.font_5 {
font: normal normal normal 56px/1.25em brandon-grot-w01-light, sans-serif;
color: #070D1A;
}
.font_6 {
font: normal normal normal 48px/1.25em brandon-grot-w01-light, sans-serif;
color: #070D1A;
}
.font_7 {
font: normal normal normal 24px/1.46em brandon-grot-w01-light, sans-serif;
color: #070D1A;
}
.font_8 {
font: normal normal normal 20px/1.5em brandon-grot-w01-light, sans-serif;
color: #070D1A;
}
.font_9 {
font: normal normal normal 16px/1.55em brandon-grot-w01-light, sans-serif;
color: #070D1A;
}
.font_10 {
font: normal normal normal 14px/1.43em 'Open Sans', sans-serif;
color: #070D1A;
}
.color_0 {
color: #FFFFFF;
}
.backcolor_0 {
background-color: #FFFFFF;
}
.color_1 {
color: #FFFFFF;
}
.backcolor_1 {
background-color: #FFFFFF;
}
.color_2 {
color: #000000;
}
.backcolor_2 {
background-color: #000000;
}
.color_3 {
color: #ED1C24;
}
.backcolor_3 {
background-color: #ED1C24;
}
.color_4 {
color: #0088CB;
}
.backcolor_4 {
background-color: #0088CB;
}
.color_5 {
color: #FFCB05;
}
.backcolor_5 {
background-color: #FFCB05;
}
.color_6 {
color: #727272;
}
.backcolor_6 {
background-color: #727272;
}
.color_7 {
color: #B0B0B0;
}
.backcolor_7 {
background-color: #B0B0B0;
}
.color_8 {
color: #FFFFFF;
}
.backcolor_8 {
background-color: #FFFFFF;
}
.color_9 {
color: #727272;
}
.backcolor_9 {
background-color: #727272;
}
.color_10 {
color: #B0B0B0;
}
.backcolor_10 {
background-color: #B0B0B0;
}
.color_11 {
color: #FFFFFF;
}
.backcolor_11 {
background-color: #FFFFFF;
}
.color_12 {
color: #D8D8D8;
}
.backcolor_12 {
background-color: #D8D8D8;
}
.color_13 {
color: #9A9FA5;
}
.backcolor_13 {
background-color: #9A9FA5;
}
.color_14 {
color: #6D7377;
}
.backcolor_14 {
background-color: #6D7377;
}
.color_15 {
color: #070D1A;
}
.backcolor_15 {
background-color: #070D1A;
}
.color_16 {
color: #9A9FA5;
}
.backcolor_16 {
background-color: #9A9FA5;
}
.color_17 {
color: #6D7377;
}
.backcolor_17 {
background-color: #6D7377;
}
.color_18 {
color: #204C94;
}
.backcolor_18 {
background-color: #204C94;
}
.color_19 {
color: #252F35;
}
.backcolor_19 {
background-color: #252F35;
}
.color_20 {
color: #000000;
}
.backcolor_20 {
background-color: #000000;
}
.color_21 {
color: #E8F8FA;
}
.backcolor_21 {
background-color: #E8F8FA;
}
.color_22 {
color: #BFDFE3;
}
.backcolor_22 {
background-color: #BFDFE3;
}
.color_23 {
color: #9FD1D6;
}
.backcolor_23 {
background-color: #9FD1D6;
}
.color_24 {
color: #87C1C7;
}
.backcolor_24 {
background-color: #87C1C7;
}
.color_25 {
color: #464F5E;
}
.backcolor_25 {
background-color: #464F5E;
}
.color_26 {
color: #FFFFFF;
}
.backcolor_26 {
background-color: #FFFFFF;
}
.color_27 {
color: #F1D258;
}
.backcolor_27 {
background-color: #F1D258;
}
.color_28 {
color: #D8D8D8;
}
.backcolor_28 {
background-color: #D8D8D8;
}
.color_29 {
color: #B1ABAB;
}
.backcolor_29 {
background-color: #B1ABAB;
}
.color_30 {
color: #918D8D;
}
.backcolor_30 {
background-color: #918D8D;
}
.color_31 {
color: #F8F8F8;
}
.backcolor_31 {
background-color: #F8F8F8;
}
.color_32 {
color: #ADD7E9;
}
.backcolor_32 {
background-color: #ADD7E9;
}
.color_33 {
color: #C8E4E7;
}
.backcolor_33 {
background-color: #C8E4E7;
}
.color_34 {
color: #8EBABE;
}
.backcolor_34 {
background-color: #8EBABE;
}
.color_35 {
color: #70B2B9;
}
.backcolor_35 {
background-color: #70B2B9;
}
.hc1screenWidthBackground {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.hc1[data-state~="fixedPosition"] {
position: fixed !important;
left: auto !important;
z-index: 50;
}
.hc1[data-state~="fixedPosition"].hc1_footer {
top: auto;
bottom: 0;
}
.hc1_bg {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(7, 13, 26, 1);
border-top: 0px solid transparent;
border-bottom: 0px solid transparent;
}
.hc1[data-state~="mobileView"] .hc1bg {
left: 10px;
right: 10px;
}
.hc1bg {
position: absolute;
top: 0px;
right: 0;
bottom: 0px;
left: 0;
background-color: rgba(7, 13, 26, 1);
border-radius: 0;
}
.hc1inlineContent {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.hc1centeredContent {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.txtNew {
word-wrap: break-word;
text-align: start;
pointer-events: none;
}
.txtNew_override-left * {
text-align: left !important;
}
.txtNew_override-right * {
text-align: right !important;
}
.txtNew_override-center * {
text-align: center !important;
}
.txtNew_override-justify * {
text-align: justify !important;
}
.txtNew>* {
pointer-events: auto;
}
.txtNew li {
font-style: inherit;
font-weight: inherit;
line-height: inherit;
letter-spacing: normal;
}
.txtNew ol,
.txtNew ul {
padding-left: 1.3em;
padding-right: 0;
margin-left: 0.5em;
margin-right: 0;
line-height: normal;
letter-spacing: normal;
}
.txtNew ul {
list-style-type: disc;
}
.txtNew ol {
list-style-type: decimal;
}
.txtNew ul ul,
.txtNew ol ul {
list-style-type: circle;
}
.txtNew ul ul ul,
.txtNew ol ul ul {
list-style-type: square;
}
.txtNew ul ol ul,
.txtNew ol ol ul {
list-style-type: square;
}
.txtNew ul[dir="rtl"],
.txtNew ol[dir="rtl"] {
padding-left: 0;
padding-right: 1.3em;
margin-left: 0;
margin-right: 0.5em;
}
.txtNew ul[dir="rtl"] ul,
.txtNew ul[dir="rtl"] ol,
.txtNew ol[dir="rtl"] ul,
.txtNew ol[dir="rtl"] ol {
padding-left: 0;
padding-right: 1.3em;
margin-left: 0;
margin-right: 0.5em;
}
.txtNew p {
margin: 0;
line-height: normal;
letter-spacing: normal;
}
.txtNew h1 {
margin: 0;
line-height: normal;
letter-spacing: normal;
}
.txtNew h2 {
margin: 0;
line-height: normal;
letter-spacing: normal;
}
.txtNew h3 {
margin: 0;
line-height: normal;
letter-spacing: normal;
}
.txtNew h4 {
margin: 0;
line-height: normal;
letter-spacing: normal;
}
.txtNew h5 {
margin: 0;
line-height: normal;
letter-spacing: normal;
}
.txtNew h6 {
margin: 0;
line-height: normal;
letter-spacing: normal;
}
.txtNew a {
color: inherit;
}
.lb1itemsContainer {
position: absolute;
width: 100%;
height: 100%;
white-space: nowrap;
}
.lb1itemsContainer>li:last-child {
margin: 0 !important;
}
.lb1[data-state~="mobileView"] .lb1itemsContainer {
position: absolute;
width: 100%;
height: 100%;
white-space: normal;
}
.lb1 a {
display: block;
height: 100%;
}
.lb1imageItemlink {
cursor: pointer;
}
.lb1imageItemimageimage {
position: static;
box-shadow: #000 0 0 0;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.style-je7palvs {
overflow: hidden;
}
.style-je7palvs iframe {
position: absolute;
width: 100%;
height: 100%;
overflow: hidden;
}
.style-je7palvspreloaderOverlay {
position: absolute;
top: 0;
left: 0;
color: #373737;
width: 100%;
height: 100%;
}
.style-je7palvspreloaderOverlaycontent {
width: 100%;
height: 100%;
}
.style-je7palvsunavailableMessageOverlay {
position: absolute;
top: 0;
left: 0;
color: #373737;
width: 100%;
height: 100%;
}
.style-je7palvsunavailableMessageOverlaycontent {
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.9);
font-size: 0;
margin-top: 5px;
}
.style-je7palvsunavailableMessageOverlaytextContainer {
color: #373737;
font-family: "Helvetica Neue", "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", Helvetica, Arial, sans-serif;
font-size: 14px;
display: inline-block;
vertical-align: middle;
width: 100%;
margin-top: 10px;
text-align: center;
}
.style-je7palvsunavailableMessageOverlayreloadButton {
display: inline-block;
}
.style-je7palvsunavailableMessageOverlay a {
color: #0099FF;
text-decoration: underline;
cursor: pointer;
}
.style-je7palvsunavailableMessageOverlayiconContainer {
display: none;
}
.style-je7palvsunavailableMessageOverlaydismissButton {
display: none;
}
.style-je7palvsunavailableMessageOverlaytextTitle {
font-family: "Helvetica Neue", "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", Helvetica, Arial, sans-serif;
display: none;
}
.style-je7palvsunavailableMessageOverlay[data-state~="hideIframe"] .style-je7palvsunavailableMessageOverlay_buttons {
opacity: 1;
}
.style-je7palvsunavailableMessageOverlay[data-state~="hideOverlay"] {
display: none;
}
.style-je7p5nor3 {
border-bottom: 1px solid rgba(255, 255, 255, 0.15);
height: 0 !important;
min-height: 0 !important;
}
.wp1_zoomedin {
cursor: url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/cursor_zoom_out.png), url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/cursor_zoom_out.cur), auto;
overflow: hidden;
display: block;
}
.wp1_zoomedout {
cursor: url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/cursor_zoom_in.png), url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/cursor_zoom_in.cur), auto;
}
.wp1link {
display: block;
overflow: hidden;
}
.wp1img {
overflow: hidden;
}
.wp1imgimage {
position: static;
box-shadow: #000 0 0 0;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.style-je7p5nov2itemsContainer {
width: calc(100% - 0px);
height: calc(100% - 0px);
white-space: nowrap;
display: inline-block;
overflow: visible;
position: relative;
}
.style-je7p5nov2moreContainer {
overflow: visible;
display: inherit;
white-space: nowrap;
width: auto;
background-color: rgba(7, 13, 26, 1);
border-radius: 0;
}
.style-je7p5nov2dropWrapper {
z-index: 99999;
display: block;
opacity: 1;
visibility: hidden;
position: absolute;
margin-top: 7px;
}
.style-je7p5nov2dropWrapper[data-dropMode="dropUp"] {
margin-top: 0;
margin-bottom: 7px;
}
.style-je7p5nov2repeaterButton {
height: 100%;
position: relative;
box-sizing: border-box;
display: inline-block;
cursor: pointer;
font: normal normal normal 14px/1.43em 'Open Sans', sans-serif;
}
.style-je7p5nov2repeaterButton[data-state~="header"] a,
.style-je7p5nov2repeaterButton[data-state~="header"] div {
cursor: default !important;
}
.style-je7p5nov2repeaterButtonlinkElement {
display: inline-block;
height: 100%;
width: 100%;
}
.style-je7p5nov2repeaterButton_gapper {
padding: 0 0px;
}
.style-je7p5nov2repeaterButtonlabel {
display: inline-block;
padding: 0 10px;
color: #FFFFFF;
transition: color 0.4s ease 0s;
}
.style-je7p5nov2repeaterButton[data-state~="drop"] {
width: 100%;
display: block;
}
.style-je7p5nov2repeaterButton[data-state~="drop"] .style-je7p5nov2repeaterButtonlabel {
padding: 0 .5em;
}
.style-je7p5nov2repeaterButton[data-state~="over"] .style-je7p5nov2repeaterButtonlabel,
.style-je7p5nov2repeaterButton[data-preview~="hover"] .style-je7p5nov2repeaterButtonlabel {
color: #F1D258;
transition: color 0.4s ease 0s;
}
.style-je7p5nov2repeaterButton[data-state~="selected"] .style-je7p5nov2repeaterButtonlabel,
.style-je7p5nov2repeaterButton[data-preview~="active"] .style-je7p5nov2repeaterButtonlabel {
color: #F1D258;
transition: color 0.4s ease 0s;
}
.pc1screenWidthBackground {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.pc1[data-state~="fixedPosition"] {
position: fixed !important;
left: auto !important;
z-index: 50;
}
.pc1[data-state~="fixedPosition"].pc1_footer {
top: auto;
bottom: 0;
}
.pc1bg {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.pc1inlineContent {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.pc1centeredContent {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.s_VOwPageGroupSkin {
height: 100px;
width: 100px;
}
.s_VOwPageGroupSkinoverlay {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.664);
}
.s_VOwPageGroupSkininlineContent {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.fc1screenWidthBackground {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.fc1[data-state~="fixedPosition"] {
position: fixed !important;
left: auto !important;
z-index: 50;
}
.fc1[data-state~="fixedPosition"].fc1_footer {
top: auto;
bottom: 0;
}
.fc1_bg {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(7, 13, 26, 1);
border-top: 1px solid rgba(255, 255, 255, 0.15);
border-bottom: 0px solid rgba(255, 255, 255, 0.15);
}
.fc1[data-state~="mobileView"] .fc1bg {
left: 10px;
right: 10px;
}
.fc1bg {
position: absolute;
top: 1px;
right: 0;
bottom: 0px;
left: 0;
background-color: rgba(7, 13, 26, 1);
border-radius: 0;
}
.txtNew {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.fc1centeredContent {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.p1bg {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.p1[data-state~="mobileView"] .p1bg {
left: 10px;
right: 10px;
}
.p1inlineContent {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.strc1inlineContent {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.mc1inlineContent {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.mc1container {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.style-je7sz3083 button.style-je7sz3083link {
width: 100%;
}
.style-je7sz3083[data-state~="shouldUseFlex"] .style-je7sz3083link,
.style-je7sz3083[data-state~="shouldUseFlex"] .style-je7sz3083labelwrapper {
text-align: initial;
display: -webkit-box;
display: -webkit-flex;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
align-items: center;
}
.style-je7sz3083[data-state~="shouldUseFlex"][data-state~="center"] .style-je7sz3083link,
.style-je7sz3083[data-state~="shouldUseFlex"][data-state~="center"] .style-je7sz3083labelwrapper {
-webkit-box-pack: center;
-webkit-justify-content: center;
justify-content: center;
}
.style-je7sz3083[data-state~="shouldUseFlex"][data-state~="left"] .style-je7sz3083link,
.style-je7sz3083[data-state~="shouldUseFlex"][data-state~="left"] .style-je7sz3083labelwrapper {
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
justify-content: flex-start;
}
.style-je7sz3083[data-state~="shouldUseFlex"][data-state~="right"] .style-je7sz3083link,
.style-je7sz3083[data-state~="shouldUseFlex"][data-state~="right"] .style-je7sz3083labelwrapper {
-webkit-box-pack: end;
-webkit-justify-content: flex-end;
justify-content: flex-end;
}
.style-je7sz3083link {
border-radius: 0;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
.style-je7sz3083label {
font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
transition: color 0.4s ease 0s;
color: #2F2E2E;
display: inline-block;
margin: calc(-1 * 4px) 4px 0;
position: relative;
white-space: nowrap;
}
.style-je7sz3083[data-state~="shouldUseFlex"] .style-je7sz3083label {
margin: 0;
}
.style-je7sz3083[data-disabled="false"] .style-je7sz3083link {
background-color: transparent;
border: solid rgba(0, 0, 0, 1) 4px;
cursor: pointer !important;
}
.style-je7sz3083[data-disabled="false"]:active[data-state~="mobile"] .style-je7sz3083link,
.style-je7sz3083[data-disabled="false"]:hover[data-state~="desktop"] .style-je7sz3083link,
.style-je7sz3083[data-disabled="false"][data-preview~="hover"] .style-je7sz3083link {
background-color: rgba(0, 0, 0, 1);
border-color: rgba(0, 0, 0, 1);
}
.style-je7sz3083[data-disabled="false"]:active[data-state~="mobile"] .style-je7sz3083label,
.style-je7sz3083[data-disabled="false"]:hover[data-state~="desktop"] .style-je7sz3083label,
.style-je7sz3083[data-disabled="false"][data-preview~="hover"] .style-je7sz3083label {
color: #FFFFFF;
}
.style-je7sz3083[data-disabled="true"] .style-je7sz3083link,
.style-je7sz3083[data-preview~="disabled"] .style-je7sz3083link {
background-color: rgba(204, 204, 204, 1);
border-color: rgba(204, 204, 204, 1);
}
.style-je7sz3083[data-disabled="true"] .style-je7sz3083label,
.style-je7sz3083[data-preview~="disabled"] .style-je7sz3083label {
color: #FFFFFF;
}
.style-je7sf77hlink,
.style-je7sf77hsvg {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.style-je7sf77h svg {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
margin: auto;
}
.style-je7sf77h svg * {
vector-effect: non-scaling-stroke;
}
.tpaw0 {
overflow: hidden;
}
.tpaw0 iframe {
position: absolute;
width: 100%;
height: 100%;
overflow: hidden;
}
.tpaw0preloaderOverlay {
position: absolute;
top: 0;
left: 0;
color: #373737;
width: 100%;
height: 100%;
}
.tpaw0preloaderOverlaycontent {
width: 100%;
height: 100%;
}
.tpaw0unavailableMessageOverlay {
position: absolute;
top: 0;
left: 0;
color: #373737;
width: 100%;
height: 100%;
}
.tpaw0unavailableMessageOverlaycontent {
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.9);
font-size: 0;
margin-top: 5px;
}
.tpaw0unavailableMessageOverlaytextContainer {
color: #373737;
font-family: "Helvetica Neue", "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", Helvetica, Arial, sans-serif;
font-size: 14px;
display: inline-block;
vertical-align: middle;
width: 100%;
margin-top: 10px;
text-align: center;
}
.tpaw0unavailableMessageOverlayreloadButton {
display: inline-block;
}
.tpaw0unavailableMessageOverlay a {
color: #0099FF;
text-decoration: underline;
cursor: pointer;
}
.tpaw0unavailableMessageOverlayiconContainer {
display: none;
}
.tpaw0unavailableMessageOverlaydismissButton {
display: none;
}
.tpaw0unavailableMessageOverlaytextTitle {
font-family: "Helvetica Neue", "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", Helvetica, Arial, sans-serif;
display: none;
}
.tpaw0unavailableMessageOverlay[data-state~="hideIframe"] .tpaw0unavailableMessageOverlay_buttons {
opacity: 1;
}
.tpaw0unavailableMessageOverlay[data-state~="hideOverlay"] {
display: none;
}
.s_BIwzIGroupSkin {
pointer-events: none;
}
.s_BIwzIGroupSkin_ie10 {
max-width: 0;
max-height: 0;
}
.s_BIwzIGroupSkininlineContent {
pointer-events: all;
}
.style-je7p5nog3 button.style-je7p5nog3link {
width: 100%;
}
.style-je7p5nog3[data-state~="shouldUseFlex"] .style-je7p5nog3link,
.style-je7p5nog3[data-state~="shouldUseFlex"] .style-je7p5nog3labelwrapper {
text-align: initial;
display: -webkit-box;
display: -webkit-flex;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
align-items: center;
}
.style-je7p5nog3[data-state~="shouldUseFlex"][data-state~="center"] .style-je7p5nog3link,
.style-je7p5nog3[data-state~="shouldUseFlex"][data-state~="center"] .style-je7p5nog3labelwrapper {
-webkit-box-pack: center;
-webkit-justify-content: center;
justify-content: center;
}
.style-je7p5nog3[data-state~="shouldUseFlex"][data-state~="left"] .style-je7p5nog3link,
.style-je7p5nog3[data-state~="shouldUseFlex"][data-state~="left"] .style-je7p5nog3labelwrapper {
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
justify-content: flex-start;
}
.style-je7p5nog3[data-state~="shouldUseFlex"][data-state~="right"] .style-je7p5nog3link,
.style-je7p5nog3[data-state~="shouldUseFlex"][data-state~="right"] .style-je7p5nog3labelwrapper {
-webkit-box-pack: end;
-webkit-justify-content: flex-end;
justify-content: flex-end;
}
.style-je7p5nog3link {
border-radius: 100px;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
.style-je7p5nog3label {
font: normal normal normal 16px/1.55em brandon-grot-w01-light, sans-serif;
transition: color 0.4s ease 0s;
color: #070D1A;
display: inline-block;
margin: calc(-1 * 1px) 1px 0;
position: relative;
white-space: nowrap;
}
.style-je7p5nog3[data-state~="shouldUseFlex"] .style-je7p5nog3label {
margin: 0;
}
.style-je7p5nog3[data-disabled="false"] .style-je7p5nog3link {
background-color: transparent;
border: solid rgba(7, 13, 26, 1) 1px;
cursor: pointer !important;
}
.style-je7p5nog3[data-disabled="false"]:active[data-state~="mobile"] .style-je7p5nog3link,
.style-je7p5nog3[data-disabled="false"]:hover[data-state~="desktop"] .style-je7p5nog3link,
.style-je7p5nog3[data-disabled="false"][data-preview~="hover"] .style-je7p5nog3link {
background-color: rgba(7, 13, 26, 1);
border-color: transparent;
}
.style-je7p5nog3[data-disabled="false"]:active[data-state~="mobile"] .style-je7p5nog3label,
.style-je7p5nog3[data-disabled="false"]:hover[data-state~="desktop"] .style-je7p5nog3label,
.style-je7p5nog3[data-disabled="false"][data-preview~="hover"] .style-je7p5nog3label {
color: #464F5E;
}
.style-je7p5nog3[data-disabled="true"] .style-je7p5nog3link,
.style-je7p5nog3[data-preview~="disabled"] .style-je7p5nog3link {
background-color: rgba(204, 204, 204, 1);
border-color: rgba(204, 204, 204, 1);
}
.style-je7p5nog3[data-disabled="true"] .style-je7p5nog3label,
.style-je7p5nog3[data-preview~="disabled"] .style-je7p5nog3label {
color: #FFFFFF;
}
.style-je7p5noj6wrapper {
min-width: 180px;
max-width: 980px;
position: absolute;
width: 100%;
text-align: center;
}
.style-je7p5noj6_hiddenField {
display: none !important;
}
.style-je7p5noj6flex-wrapper {
display: -webkit-box;
display: -webkit-flex;
display: flex;
}
.style-je7p5noj6flex-wrapper input {
-webkit-box-flex: 1;
-webkit-flex: 1;
flex: 1;
min-width: 0;
}
.style-je7p5noj6[data-state~="field1Hidden"] .style-je7p5noj6flex-wrapper input:nth-child(2) {
margin-left: 0;
}
.style-je7p5noj6 input,
.style-je7p5noj6 textarea {
-webkit-appearance: none;
-moz-appearance: none;
padding: 5px;
font: normal normal normal 16px/1.55em brandon-grot-w01-light, sans-serif;
background-color: transparent;
-webkit-appearance: none;
border: 1px solid rgba(255, 255, 255, 1);
color: #FFFFFF;
margin: 0 0 5px;
width: 100%;
min-height: 36px;
box-sizing: border-box;
border-radius: 0;
}
.style-je7p5noj6 input.style-je7p5noj6_error,
.style-je7p5noj6 textarea.style-je7p5noj6_error {
font: normal normal normal 16px/1.55em brandon-grot-w01-light, sans-serif;
border: 1px solid #8B0000;
color: #8B0000;
}
.style-je7p5noj6 input::-webkit-input-placeholder,
.style-je7p5noj6 textarea::-webkit-input-placeholder {
color: #FFFFFF;
}
.style-je7p5noj6 input:-ms-input-placeholder,
.style-je7p5noj6 textarea:-ms-input-placeholder {
color: #FFFFFF;
}
.style-je7p5noj6 input::-ms-input-placeholder,
.style-je7p5noj6 textarea::-ms-input-placeholder {
color: #FFFFFF;
}
.style-je7p5noj6 input::placeholder,
.style-je7p5noj6 textarea::placeholder {
color: #FFFFFF;
}
.style-je7p5noj6 input {
margin-bottom: 12px;
}
.style-je7p5noj6 textarea {
resize: none;
overflow: hidden;
margin: 0 0 10px;
min-height: 150px;
overflow-y: auto;
}
.style-je7p5noj6submit {
border: none;
cursor: pointer;
background-color: rgba(255, 255, 255, 1);
color: #070D1A;
width: 100%;
min-height: 45px;
display: block;
margin-bottom: 15px;
font: normal normal normal 16px/1.55em brandon-grot-w01-light, sans-serif;
padding: 5px;
}
.style-je7p5noj6notifications {
font: normal 14px 'Helvetica Neue', Helvetica, sans-serif;
max-width: 60%;
margin: 0 auto;
height: 14px;
}
.style-je7p5noj6notifications.style-je7p5noj6_success {
color: #BADA55;
}
.style-je7p5noj6notifications.style-je7p5noj6_error {
color: #8B0000;
}
.style-je7p5noj6[data-state~="mobile"] .style-je7p5noj6flex-wrapper {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
flex-direction: column;
min-width: 0;
}
.style-je7p5noj6[data-state~="mobile"] .style-je7p5noj6flex-wrapper input:first-child {
margin-right: 0;
}
.style-je7p5noj6[data-state~="mobile"] input,
.style-je7p5noj6[data-state~="mobile"] textarea {
font-size: 14px;
margin-bottom: 15px;
}
.style-je7p5noj6[data-state~="mobile"] input::-webkit-input-placeholder,
.style-je7p5noj6[data-state~="mobile"] textarea::-webkit-input-placeholder {
font-size: 14px;
}
.style-je7p5noj6[data-state~="mobile"] input:-ms-input-placeholder,
.style-je7p5noj6[data-state~="mobile"] textarea:-ms-input-placeholder {
font-size: 14px;
}
.style-je7p5noj6[data-state~="mobile"] input::-ms-input-placeholder,
.style-je7p5noj6[data-state~="mobile"] textarea::-ms-input-placeholder {
font-size: 14px;
}
.style-je7p5noj6[data-state~="mobile"] input::placeholder,
.style-je7p5noj6[data-state~="mobile"] textarea::placeholder {
font-size: 14px;
}
.style-je7p5noj6[data-state~="mobile"] input {
min-height: 35px;
line-height: 35px;
}
.style-je7p5noj6[data-state~="mobile"] textarea {
min-height: 150px;
}
.style-je7p5noj6[data-state~="right"] {
direction: rtl;
text-align: right;
}
.style-je7p5noj6[data-state~="right"] .style-je7p5noj6flex-wrapper input {
-webkit-box-flex: 1;
-webkit-flex: 1;
flex: 1;
min-width: 0;
}
.style-je7p5noj6[data-state~="right"] .style-je7p5noj6flex-wrapper input:nth-child(1) {
margin-left: 17px;
margin-right: 0;
}
.style-je7p5noj6[data-state~="right"] .style-je7p5noj6flex-wrapper input:nth-child(2) {
margin-left: 0;
}
.style-je7p5noj6[data-state~="right"] .style-je7p5noj6flex-wrapper input:only-of-type {
margin-left: 0;
margin-right: 0;
}
.style-je7p5noj6[data-state~="left"] {
direction: ltr;
text-align: left;
}
.style-je7p5noj6[data-state~="left"] .style-je7p5noj6flex-wrapper input {
-webkit-box-flex: 1;
-webkit-flex: 1;
flex: 1;
min-width: 0;
}
.style-je7p5noj6[data-state~="left"] .style-je7p5noj6flex-wrapper input:nth-child(1) {
margin-left: 0;
margin-right: 17px;
}
.style-je7p5noj6[data-state~="left"] .style-je7p5noj6flex-wrapper input:nth-child(2) {
margin-left: 0;
}
.style-je7p5noj6[data-state~="left"] .style-je7p5noj6flex-wrapper input:only-of-type {
margin-left: 0;
margin-right: 0;
}
.gm1[data-state~="squared"],
.gm1[data-state~="squared"] .gm1mapContainer {
border-radius: 0;
}
.gm1mapContainer {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.s_yOSHETPAPopupSkin {
background: #fff;
overflow: hidden;
z-index: 100000;
box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
border-radius: 3px;
}
.s_yOSHETPAPopupSkiniframe {
position: absolute;
width: 100%;
height: 100%;
z-index: 1000;
}
.s_yOSHETPAPopupSkincloseButton {
position: absolute;
z-index: 1001;
top: 10px;
right: 10px;
cursor: pointer;
background: transparent url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/popup_close_x.png) no-repeat right top;
height: 24px;
width: 24px;
}
.siteBackground {
width: 100%;
position: absolute;
}
.siteBackgroundbgBeforeTransition {
position: absolute;
top: 0;
}
.siteBackgroundbgAfterTransition {
position: absolute;
top: 0;
}
.loginDialog {
position: fixed;
width: 100%;
height: 100%;
z-index: 99;
font-family: Arial, sans-serif;
font-size: 1em;
color: #9C9C9C;
}
.loginDialogblockingLayer {
background-color: rgba(85, 85, 85, 0.75);
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
visibility: visible;
zoom: 1;
overflow: auto;
}
.loginDialogdialog {
background-color: rgba(170, 170, 170, 0.7);
width: 455px;
position: fixed;
padding: 20px;
}
.loginDialog_wrapper {
background-color: rgba(255, 255, 255, 1);
padding: 45px 40px 0 40px;
}
.loginDialogxButton {
position: absolute;
top: -14px;
right: -14px;
cursor: pointer;
background: transparent url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/viewer_login_sprite.png) no-repeat right top;
height: 30px;
width: 30px;
}
.loginDialogxButton:hover {
background-position: right -80px;
}
.loginDialogheader {
padding-bottom: 25px;
line-height: 30px;
}
.loginDialogfavIcon {
float: left;
margin: 7px 7px 0 0;
width: 16px;
height: 16px;
}
.loginDialogtitle {
font-size: 20px;
font-weight: bold;
color: #555555;
}
.loginDialog[data-state~="mobile"] {
position: absolute;
width: 100%;
height: 100%;
z-index: 99;
font-family: Arial, sans-serif;
font-size: 1em;
color: #9C9C9C;
top: 0;
}
.loginDialog[data-state~="mobile"] .loginDialogheader {
padding-bottom: 10px;
line-height: 30px;
}
.loginDialog[data-state~="mobile"] .loginDialogfavIcon {
display: none;
}
.loginDialog[data-state~="mobile"] .loginDialogtitle {
font-size: 14px;
}
.loginDialog[data-state~="mobile"] .loginDialogdialog {
width: 260px;
padding: 10px;
position: absolute;
}
.loginDialog[data-state~="mobile"] .loginDialog_footer {
margin-top: 0;
padding-bottom: 10px;
}
.loginDialog[data-state~="mobile"] .loginDialogcancel {
font-size: 14px;
line-height: 30px;
}
.loginDialog[data-state~="mobile"] .loginDialog_wrapper {
padding: 14px 12px 0 12px;
}
.loginDialog[data-state~="mobile"] .loginDialogsubmitButton {
height: 30px;
width: 100px;
font-size: 14px;
}
.loginDialog_forgot {
text-align: left;
font-size: 12px;
}
.loginDialog_forgot a {
color: #0198ff;
border-bottom: 1px solid #0198ff;
}
.loginDialog_forgot a:hover {
color: #0044ff;
border-bottom: 1px solid #0044ff;
}
.loginDialog_error {
font-size: 12px;
color: #d74401;
text-align: right;
}
.loginDialog_footer {
width: 100%;
margin-top: 27px;
padding-bottom: 40px;
}
.loginDialogcancel {
color: #9C9C9C;
font-size: 18px;
text-decoration: underline;
line-height: 36px;
}
.loginDialogcancel:hover {
color: #9c3c3c;
}
.loginDialogpasswordInput label {
font-size: 14px;
}
.loginDialogpasswordInput label[data-type="password"] {
font-size: 14px;
line-height: 30px;
height: 30px;
}
.loginDialogsubmitButton {
float: right;
cursor: pointer;
border: solid 2px #0064a8;
height: 36px;
width: 143px;
background: transparent url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -252px;
color: #ffffff;
font-size: 24px;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.loginDialogsubmitButton:hover {
background-position: right -352px;
border-color: #004286;
}
.loginDialog[data-state="normal"] .loginDialogerror {
display: none;
}
.loginDialog[data-state="error"] .loginDialogerror {
display: block;
font-size: 12px;
color: #d74401;
text-align: right;
}
.loginDialog[data-state="error"] .loginDialogpasswordInput {
border-color: #d74401;
}
.loginDialogpasswordInput {
font-size: 1em;
}
.loginDialogpasswordInput label {
float: none;
font-size: 17px;
line-height: 25px;
color: #585858;
}
.loginDialogpasswordInput[data-state~="mobile"] label {
float: none;
font-size: 14px;
line-height: 20px;
color: #585858;
}
.loginDialogpasswordInputinput {
padding: 0 15px;
width: 100%;
height: 42px;
font-size: 19px;
line-height: 42px;
color: #0198ff;
margin: 0 -3px;
background: transparent url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -170px;
border: solid 1px #a1a1a1;
box-sizing: border-box;
}
.loginDialogpasswordInput[data-state~="mobile"] .loginDialogpasswordInputinput {
padding: 0 15px;
width: 100%;
height: 30px;
font-size: 14px;
line-height: 30px;
color: #0198ff;
margin: 0 -3px;
background: transparent url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -170px;
border: solid 1px #a1a1a1;
box-sizing: border-box;
}
.loginDialogpasswordInputinput[data-type="password"] {
font-size: 38px;
}
.loginDialogpasswordInput[data-state~="mobile"] .loginDialogpasswordInputinput[data-type="password"] {
font-size: 14px;
}
.loginDialogpasswordInputerrorMessage {
display: block;
font-size: 12px;
color: #d74401;
text-align: right;
height: 15px;
}
.loginDialogpasswordInput:not([data-state~="invalid"]) .loginDialogpasswordInputerrorMessage {
visibility: hidden;
}
.loginDialogpasswordInput[data-state~="invalid"] .loginDialogpasswordInputerrorMessage {
visibility: visible;
}
.loginDialogpasswordInput[data-state~="invalid"] input {
border-color: #d74401;
}
.loginDialogpasswordInput[data-state~="invalid"] .loginDialogpasswordInputinput {
border-color: #ff0000;
}
.testStyles {
position: absolute;
display: none;
z-index: 2
}
