.UserOrderContainer {
    position: absolute;
    top: 50px;
    left: calc(50% - 525px);
    width: 1050px;
    height: 600px;
    border: solid rgba(7, 13, 26, 1) 1px;
}
.BidHistoryRow-1 {
    position:absolute;
    top: 10px;
    left: calc(10%);
    width: 80%;
    height: 80px;
}
.BidHistoryRow-2 {
    position:absolute;
    top: 95px;
    left: calc(10%);
    width: 80%;
    height: 80px;
}
.BidHistoryRow-3 {
    position:absolute;
    top: 190px;
    left: calc(10%);
    width: 80%;
    height: 80px;
}
.BidHistoryRow-4 {
    position:absolute;
    top: 285px;
    left: calc(10%);
    width: 80%;
    height: 80px;
}
.BidHistoryRow-5 {
     position:absolute;
     top: 380px;
     left: calc(10%);
     width: 80%;
     height: 80px;
}
.BidHistoryPagination {
     position:absolute;
     top: 480px;
     left: calc(20%);
     width: 60%;
}
.UserBidBody {
     position:absolute;
     top: 10%;
     width: 100%;
}
